html,body {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
}


a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; 
  color: #212529;
}

.hide {
  display: none;
}

.header {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
  width: 60vw;
}

.header .title {
  font-size: 60px;
  font-weight: 900;
  color: #212529;
}

.header .subTitle {
  font-size: 20px;
  color: #798C9C;
}

.slimeContainer {
  padding:5px 20px 30px;
  display:grid;margin-top:-4px;
  grid-template-columns:22% 22% 22% 22%;
  grid-column-gap:8%;grid-row-gap:30px
  }

@media screen and (max-width:2500px){
  .slimeContainer{
    grid-template-columns:31% 31% 31%;
    grid-column-gap:7%;grid-row-gap:28px
  }
}

@media screen and (max-width:1200px){
  .slimeContainer{
    grid-template-columns:48% 48%;
    grid-column-gap:10%;
    grid-row-gap:26px
  }
}

@media screen and (max-width:600px){
  .slimeContainer{
    grid-template-columns:100%;
    grid-column-gap:10%;
    grid-row-gap:26px
  }
}

.slimeContainer .item {
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 2px 0px;
  border-radius: 3px;
  width: 400px;
  height: 200px;
  color: #21374c;
  align-self: center;
  justify-self: center;
}

.slimeContainer .item:hover {
  transform: translateY(-2px);
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  transition: all 0.1s ease 0s;
}

.slimeContainer .itemContent {
  display: flex;
}


.slimeContainer .item .itemContent {
    position: relative;
    flex-basis: 200px;
}

.slimeContainer .rank {
  position: absolute;
  background: #000;
  color:  white;
  display:  inline-block;
  border-radius: 3px 0 0 3px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  position: absolute;
  padding: 4px 6px;
  top: 0;
  left: 0;
  transform: translateX(-100%)
  }
}

.slimeContainer .image img {
  border-radius: 3px 0 0 3px;
}

.slimeContainer .wrapperDetails {
    padding: 20px;
    padding-top: 10px;
}

.slimeContainer .name {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}

.slimeContainer .traits {
    font-size: 12px;
    text-transform: uppercase;
}